<!DOCTYPE html>
 <html>
   <head>
     <title>Welcome</title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
     <h1>Welcome, please click the link</h1>
     <a href="/skills">Skills</a>
   </body>
 </html>